.section {
	width:100%;
	display:block;
	min-height:150px;
	border:1px solid black;
	padding:1em;
}
.preference {
	width:100%;
}
.preference > label, .preference > input {
	width:49%;
	display:inline-block;
}
#teachingsessionlist {
	list-style:none;
}
