button.delete {
	color:#d33;
}

.table {
	border:2px solid #333;
}

.table.playing {
	background:#3b3;
}
.table.warn {
	background:#d33;
}
.table > h2 {
	height:1.5em;
	line-height:1.5em;
	vertical-align:middle;
}
.table > h2 > button {
	float:right;
	height:100%;
	width:2em;
	padding:0;
	background:none;
}


.table > .players, #playerqueue {
	min-height:2em;
}

.player {
	height:2em;
	background:#ccc;
	list-style:none;
	border:1px solid #333;
}

.player > button {
	float:right;
	height:100%;
	width:2em;
	padding:0;
	background:none;
}
.player.playing > .notify {
	display:none;
}

@media (min-width:600px) {
	body > .region {
		display:inline-block;
		vertical-align:top;
		width:49%;
	}
}
@media (max-width:600px) {
	body > .region {
		width:100%;
	}
}
