#sidebar {
	position:absolute;
	right:0;
	top:0;
	width:300px;
	height:100%;
	background:#ddd;
	border-left:3px solid #333;
	/* Scrolling the sidebar would be nice but
	 * it causes bugs with jQuery UI
	 * overflow-y:scroll;
	*/
}
#signupform {
	margin-bottom:1em;
	text-align:center;
}
#signupform > * {
	width:95%;
	margin-bottom:0.2em;
}
#editbuttons {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background:grey;
}

button.delete {
	color:#d33;
	font-size:20px;
	text-decoration:none;
}

.table {
	position:absolute;
	display:inline-block;
	width:250px;
	height:250px;
	border:2px solid #333;
	padding:0;
	background:#393;
}
.table > .controls {
	position:absolute;
	left:0;
	bottom:0;
	padding-bottom:0.2em;
	padding-top:0.2em;
	text-align:center;
	width:100%;
	margin:0;
	background:rgba(0,0,0,0.2);
}
.table > .controls > .inputs {
	padding-top:0.2em;
}

.table.playing {
	background:#3b3;
}
.table.warn {
	background:#d33;
}
.table.warn > button.delete {
	color:#333;
}
.table > .topbar {
	height:30px;
	line-height:30px;
	vertical-align:middle;
	font-size:20px;
	text-decoration:bold;
	margin:0;
	padding-top:0;
	padding-left:5px;
	padding-right:5px;
	width: 100%;
	background:rgba(0,0,0,0.2);
}
.table > .topbar > span.tabletypedisp {
	position:absolute;
	text-align: right;
	right: 1.5em;
}
.table > .topbar > button.delete {
	width:1.5em;
	position:absolute;
	top:0;
	right:0;
	padding:0;
	background:none;
}

.table > .players, .playerqueue {
	min-height:150px;
	clear:both;
}

.player > input {
	height:100%;
	width:75%;
	padding-top:0;
	padding-bottom:0;
}

.player > button {
	float:right;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	width:1.5em;
	padding:0;
	margin:0;
	background:none;
	text-decoration:none;
}
.table.playing .notify {
	display:none;
}
