<!doctype html>
<html ng-app>
	<head>
		<title>{% block title %}{% end %}</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width = device-width, initial-scale = 1.0, user-scalable=no" />

		<link rel="icon" type="image/png" href="{{ static_url("images/favicon.png") }}" />

		<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css' />
		<link href="{{ static_url("css/libraries/jquery-ui.min.css") }}" rel="stylesheet" type="text/css" />
		<link href="{{ static_url("css/libraries/jquery-ui.theme.min.css") }}" rel="stylesheet" type="text/css" />
		<link href="{{ static_url("css/style.css") }}" type="text/css" rel="stylesheet" />

		<script src="{{ static_url("js/libraries/jquery.min.js") }}"></script>
		<script src="{{ static_url("js/libraries/jquery-ui.min.js") }}"></script>
		<script src="{{ static_url("js/libraries/mustache.min.js") }}"></script>
		<script src="{{ static_url("js/libraries/notify.min.js") }}"></script>
		<script src="{{ static_url("js/script.js") }}"></script>

		{% block head %}{% end %}
	</head>
	<body>
		{% block body%}{% end %}
	</body>
</html>
